<script type="text/ng-template" id="/change-password.html">
    <h1>Change password</h1>

    <% include ../partials/alert.ejs %>

    <form ng-submit="vm.changePassword()" class="margin-top-30">
        <div class="form-group">
            <label for="password-current">Current Password</label>
            <input type="password"
                   id="password-current"
                   class="form-control"
                   placeholder="Current Password"
                   ng-model="vm.user.passwordCurrent"
                   required></input>
        </div>
        <div class="form-group">
            <label for="password-new">New password</label>
            <input type="password"
                   id="password-new"
                   class="form-control"
                   placeholder="New password"
                   ng-model="vm.user.passwordNew"
                   required></input>
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirm password</label>
            <input type="password"
                   id="password-confirm"
                   class="form-control"
                   placeholder="Confirm password"
                   ng-model="vm.user.passwordConfirm"
                   required></input>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</script>