<script type="text/ng-template" id="/change-password.html">
    <h1>Web Apps</h1>

    <div ng-show="vm.error" class="alert alert-danger row">
        <span>{{ vm.error.message }}</span>
    </div>

    <div ng-show="vm.success" class="alert alert-success row">
        <span>{{ vm.success.message }}</span>
    </div>

    <form ng-submit="vm.changePassword()"
          style="margin-top:30px;">
        <h3>Change password</h3>

        <div class="form-group">
            <label for="password-current">Current Password</label>
            <input type="password"
                   id="password-current"
                   class="form-control"
                   placeholder="Current Password"
                   ng-model="vm.user.passwordCurrent"></input>
        </div>
        <div class="form-group">
            <label for="password-new">New password</label>
            <input type="password"
                   id="password-new"
                   class="form-control"
                   placeholder="New password"
                   ng-model="vm.user.passwordNew"></input>
        </div>
        <div class="form-group">
            <label for="password-confirm">Confirm password</label>
            <input type="password"
                   id="password-confirm"
                   class="form-control"
                   placeholder="Confirm password"
                   ng-model="vm.user.passwordConfirm"></input>
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</script>