<script type="text/ng-template" id="/timeline.html">
    <h1>Tweets</h1>

    <div ng-repeat="post in vm.posts | orderBy: '-updatedAt'">
        <p>
            <a href="/#/users/{{ post.author._id }}">{{ post.author.firstName }} {{ post.author.lastName }}</a>, <time datetime="{{ post.updatedAt | date:'yyyy-MM-dd HH:mm' }}">{{ post.updatedAt | date:'yyyy-MM-dd HH:mm' }}</time>
            <br>
            {{ post.body }}
            <br><br>
            <span class="like" ng-click="vm.incrementUpvotes(post)">Like</span> - {{ post.upvotes }}
        </p>

        <hr>
    </div>
</script>