<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Angular App!</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="javascripts/angular-flash.js"></script>
    <script src="javascripts/angular-md5.min.js"></script>
    <script src="javascripts/angular-relative-date.min.js"></script>

    <script src="javascripts/angular.model.js"></script>
    <script src="javascripts/angularApp.js"></script>

    <script src="javascripts/auth.factory.js"></script>
    <script src="javascripts/post.factory.js"></script>
    <script src="javascripts/user.factory.js"></script>

    <script src="javascripts/main.controller.js"></script>
    <script src="javascripts/auth.controller.js"></script>
    <script src="javascripts/nav.controller.js"></script>
    <script src="javascripts/users.controller.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer;
        }
    </style>
</head>

<body ng-app="webApps">
    <% include partials/navigation.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <!-- Inline templates will be injected here  -->
                <ui-view></ui-view>
            </div>
        </div>

        <!-- Inline templates  -->
        <!-- Auth -->
        <% include auth/register.ejs %>
        <% include auth/login.ejs %>
        <% include auth/changePassword.ejs %>

        <!-- Default -->
        <% include home.ejs %>

        <!-- Users -->
        <% include user/all.ejs %>
        <% include user/show.ejs %>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
