<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Angular App!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <script src="javascripts/angular.model.js"></script>
    <script src="javascripts/angularApp.js"></script>

    <script src="javascripts/auth.factory.js"></script>

    <script src="javascripts/main.controller.js"></script>
    <script src="javascripts/auth.controller.js"></script>
    <script src="javascripts/nav.controller.js"></script>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer;
        }
    </style>
</head>

<body ng-app="webApps">
    <nav class="navbar navbar-default pull-right" ng-controller="NavController as vm">
        <ul class="nav navbar-nav">
            <li ng-show="vm.isLoggedIn()"><a>Welcome, {{ vm.currentUser() }}</a></li>
            <li ng-show="vm.isLoggedIn()"><a href="" ng-click="vm.logOut()">Log Out</a></li>
            <li ng-hide="vm.isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="vm.isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- Inline templates will be injected here  -->
          <ui-view></ui-view>
        </div>
    </div>

    <!-- Inline templates  -->
    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Web Apps</h1>
        </div>
    </script>

    <script type="text/ng-template" id="/register.html">
        <div class="page-header">
            <h1>Web Apps</h1>
        </div>

        <div ng-show="vm.error" class="alert alert-danger row">
            <span>{{ vm.error.message }}</span>
        </div>

        <form ng-submit="vm.register()"
              style="margin-top:30px;">
            <h3>Register</h3>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                       id="email"
                       class="form-control"
                       placeholder="Email"
                       ng-model="vm.user.email"></input>
            </div>
            <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text"
                       id="first-name"
                       class="form-control"
                       placeholder="First name"
                       ng-model="vm.user.firstName"></input>
            </div>
            <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text"
                       id="last-name"
                       class="form-control"
                       placeholder="Last name"
                       ng-model="vm.user.lastName"></input>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       id="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="vm.user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </script>

    <script type="text/ng-template" id="/login.html">
        <div class="page-header">
            <h1>Web Apps</h1>
        </div>

        <div ng-show="vm.error" class="alert alert-danger row">
            <span>{{ vm.error.message }}</span>
        </div>

        <form ng-submit="vm.logIn()"
              style="margin-top:30px;">
            <h3>Log In</h3>

            <div class="form-group">
                <input type="email"
                       class="form-control"
                       placeholder="Email"
                       ng-model="vm.user.email"></input>
            </div>
            <div class="form-group">
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="vm.user.password"></input>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </script>
</body>

</html>
