<script type="text/ng-template" id="/users.html">
    <h1>Users</h1>

    <% include ../partials/alert.ejs %>

    <div ng-show="vm.users.length === 0">
        <p>You're the only one on this lonely planet. 😢</p>
    </div>

    <hr>
    <div ng-repeat="user in vm.users | orderBy: ['firstName', 'lastName']">
        <div class="row" style="padding-top: 8px; padding-bottom: 8px;">
            <div class="col-xs-12 col-md-2 line-height-50">
                <a href="/#/users/{{user._id}}">
                    <img src="{{vm.gravatar(user.email, 50)}}" alt="{{ user.firstName }} {{ user.lastName }}">
                </a>
            </div>
            <div class="col-xs-6 col-md-4 line-height-50">
                <a href="/#/users/{{user._id}}">
                    {{user.firstName}} {{user.lastName}}
                </a>
            </div>
            <div class="col-xs-6 col-md-4 line-height-50">
                {{user.email}}
            </div>
            <div class="col-xs-12 col-md-2 line-height-50">
                    <button ng-hide="vm.isSubscribed(user)" ng-click="vm.subscribe(user)" class="btn btn-success">Follow</button>
                    <button ng-show="vm.isSubscribed(user)" ng-click="vm.unsubscribe(user)" class="btn btn-danger">Unfollow</button>
            </div>
        </div>
        <hr>
    </div>
</script>