<script type="text/ng-template" id="/users.html">
    <h1>Users</h1>

    <flash-message duration="5000" show-close="true"></flash-message>

    <hr>
    <div ng-repeat="user in vm.users">
        <div class="row" style="padding-top: 8px; padding-bottom: 8px;">
            <div class="col-xs-5">
                <a href="/#/users/{{user._id}}">
                    {{user.firstName}} {{user.lastName}}
                </a>
            </div>
            <div class="col-xs-5">
                {{user.email}}
            </div>
            <div class="col-xs-2">
                    <button ng-hide="vm.isSubscribed(user)" ng-click="vm.subscribe(user)">Follow</button>
                    <button ng-show="vm.isSubscribed(user)" ng-click="vm.unsubscribe(user)">Unfollow</button>
            </div>
        </div>
        <hr>
    </div>
</script>