<script type="text/ng-template" id="/user.html">
    <div class="row">
        <div class="col-md-2">
            <div class="row" style="margin-bottom: 16px">
                <div class="col-xs-12">
                    <img src="{{vm.gravatar(vm.user.email, 165)}}" alt="{{vm.user.firstName}} {{vm.user.lastName}}">
                </div>
            </div>
            <div ng-hide="vm.user._id === vm.currentUser()._id" class="row" style="margin-bottom: 16px">
                <div class="col-xs-12">
                    <button ng-hide="vm.isSubscribed(vm.user)" ng-click="vm.subscribe(vm.user)" class="btn btn-success btn-block">Follow</button>
                    <button ng-show="vm.isSubscribed(vm.user)" ng-click="vm.unsubscribe(vm.user)" class="btn btn-danger btn-block" style="margin-top: 0">Unfollow</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px">
                <div class="col-xs-12">
                    <strong>Followers:</strong> <span style="padding-left: 16px">{{vm.user.followers.length}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Following:</strong> <span style="padding-left: 16px">{{vm.user.follows.length}}</span>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{vm.user.firstName}} {{vm.user.lastName}}</h1>
                    <hr>
                </div>
            </div>
            <div ng-hide="vm.user._id !== vm.currentUser()._id">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tweet about something ...</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <flash-message duration="5000" show-close="true"></flash-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form ng-submit="vm.create()">
                            <div class="form-group">
                                <input type="text"
                                       id="body"
                                       class="form-control"
                                       placeholder="How are you doing today?"
                                       ng-model="vm.post.body"></input>
                            </div>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h2>Tweets</h2>
                </div>
            </div>
            <div ng-hide="vm.posts.length !== 0" class="row">
                <div class="col-md-12">
                    <p>Nothing has been tweeted yet? Time to tweet!</p>
                </div>
            </div>
            <div ng-show="vm.posts.length !== 0">
                <div ng-repeat="post in vm.posts | orderBy: '-updatedAt'">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/#/users/{{ post.author._id }}">{{ post.author.firstName }} {{ post.author.lastName }}</a>, <time datetime="{{ post.updatedAt | date:'yyyy-MM-dd HH:mm' }}">{{ post.updatedAt | date:'yyyy-MM-dd HH:mm' }}</time>
                            <br>
                            {{ post.body }}
                            <br><br>
                            <span class="like" ng-click="vm.incrementUpvotes(post)">Like</span> - {{ post.upvotes }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>