<script type="text/ng-template" id="/user.html">
    <div class="row">
        <div class="col-md-3">
            <div class="row" style="margin-bottom: 16px">
                <div class="col-xs-12">
                    <img src="{{vm.gravatar(vm.user.email, 165)}}" alt="{{vm.user.firstName}} {{vm.user.lastName}}">
                </div>
            </div>
            <div ng-hide="vm.user._id === vm.currentUser()._id" class="row" style="margin-bottom: 16px">
                <div class="col-xs-12">
                    <button ng-hide="vm.isSubscribed(vm.user)" ng-click="vm.subscribe(vm.user)" class="btn btn-success btn-block">Follow</button>
                    <button ng-show="vm.isSubscribed(vm.user)" ng-click="vm.unsubscribe(vm.user)" class="btn btn-danger btn-block" style="margin-top: 0">Unfollow</button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 8px">
                <div class="col-xs-12">
                    <strong>Followers:</strong> <span style="padding-left: 16px">{{vm.user.followers.length}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong>Following:</strong> <span style="padding-left: 16px">{{vm.user.follows.length}}</span>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{vm.user.firstName}} {{vm.user.lastName}}</h1>
                </div>
            </div>
            <div ng-hide="vm.user._id !== vm.currentUser()._id">
                <div class="row">
                    <div class="col-md-12">
                        <flash-message duration="5000" show-close="true"></flash-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form ng-submit="vm.create()" class="form">
                            <div class="row">
                                <div class="form-group col-xs-9 padding-right-0">
                                    <input type="text"
                                           id="body"
                                           class="form-control tweet-input"
                                           placeholder="How are you doing today?"
                                           ng-model="vm.post.body"></input>
                                </div>
                                <div class="col-xs-3 padding-left-0">
                                    <button type="submit" class="btn btn-primary form-control tweet-button">Tweet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-hide="vm.posts.length !== 0" class="row">
                <div class="col-md-12">
                    <p>Nothing has been tweeted yet? Time to tweet!</p>
                </div>
            </div>
            <div ng-show="vm.posts.length !== 0">
                <div ng-repeat="post in vm.posts | orderBy: '-updatedAt'">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tweet-card">
                                <a href="/#/users/{{ post.author._id }}">{{ post.author.firstName }} {{ post.author.lastName }}</a><time class="datetime" datetime="{{ post.updatedAt | date:'yyyy-MM-dd HH:mm' }}">{{ post.updatedAt | relativeDate }}</time>
                                <br>
                                {{ post.body }}
                                <br><br>
                                <button ng-hide="vm.hasUpvoted(post)" ng-click="vm.upvote(post)" class="btn btn-success">
                                    <span class="glyphicon glyphicon-thumbs-up" style="vertical-align:middle"></span>
                                </button>
                                <button ng-show="vm.hasUpvoted(post)" ng-click="vm.downvote(post)" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-thumbs-down" style="vertical-align:middle"></span>
                                </button>
                                <span style="padding-left: 8px">
                                    <strong>{{ post.upvotes.length }}</strong> upvote<span ng-show="post.upvotes.length !== 1">s</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>